<div class="p-4">
    <table class="table table-striped">
        <thead>
        <tr>
            <th @click="sortList('productCode')" class="text-start clickable" scope="col">Stocks &#8597;</th>
            <th scope="col" @click="sortList('unitPrice')" class="clickable">
                <div>Unit Price (Tk) &#8597;</div>
                <div>Gain/Loss (%)</div>
            </th>
            <th scope="col" @click="sortList('yearToDate')" class="clickable">
                <div>Year to Data &#8597;</div>
                <div>(%)</div>
            </th>
            <th scope="col">
                <img src="../assets/filter.svg">
                <div>Filter</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="product in products">
            <td>
                <div class="h2 text-start">
                    {{product.productCode}}
                </div>
                <div class="text-start">
                    {{product.productName}}
                </div>
            </td>
            <td>
                <div class="h2">{{product.unitPrice}}</div>
                <div>
                    <img src="../assets/down_arrow.svg">
                    <span>{{product.gainLoss}}%</span>
                </div>
            </td>
            <td>
                <div>
                    <img src="../assets/up_arrow_year_to_date.svg">
                    <span>{{product.yearToDate}}%</span>
                </div>
            </td>
            <td>
                <img v-if="isAddedProduct(product)" src="../assets/ticked.svg">
                <img v-else class="clickable" @click="addProduct(product)" src="../assets/plus.svg">
            </td>
        </tr>
        </tbody>
    </table>

    <div v-if="selectedProducts.length > 0" class="selected-section">
        <div v-for="product in selectedProducts" class="selected-company">
            <span>{{product.productCode}}</span>
            <img class="clickable" @click="removeProduct(product)" src="../assets/cross.svg">
        </div>
    </div>

    <button v-if="selectedProducts.length > 0" @click="submitProducts">Next</button>
</div>